<style>
    h1{
        font-family: 'Raleway', sans-serif;
    }
    .card-body {
            padding: 20px;
        }
    .header-bar{
        display: flex;
        justify-content: space-between;
        color: #fff;
        padding: 10px;
        border-radius: 5px 5px 0 0;
        background: #2a0177;
    }
    .button{
        border: 1px solid #757575;
        background-color: #2a0177;
        color: #FFF;
        padding: 10px;
        font-size: 14px;
        border-radius: 5px;
        cursor: pointer;
        text-decoration: none;
    }
    label{
            padding-top: 10px !important;
            display: block;
    }
    input[type=text],
    input[type=password],
    textarea {
        border: 1px solid #757575;
        border-radius: 5px;
        padding: 10px;
        width: 30%;
    }
    p{
        color: #4b5156;
    }
</style>

<div class="header-bar">
    <h1>LOGIN</h1>
</div>

<div class="card-body">
    <form method="POST" action="">
        {% csrf_token %}
        <div>
            <label>Username</label>
            <input id="username" name="username" type="text" />
        </div>
        
        <div>
            <label>Password</label>
            <input id="password" name="password" type="password" />
        </div>
        <input style="margin-top:10px;" class="button" type="submit" value="Login">
    </form>

    {% for message in messages %}
        <h2>{{message}}</h2>
    {% endfor %}

    <p>Don't have an account? <a href="{% url 'register' %}">Register</a></p>
    <p>Forgot password? <a href="{% url 'password_reset' %}">Reset password</a></p>
</div>